<header>
    <div class="container mt-3">
        <h1 class="mb-3" style="text-align: center;">Lista de Productos</h1>
    </div>
</header>
<main>
    <section>
        <div id="card-container" class="row">
            <!-- Aca se apendean las cartas con los productos -->
        </div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/realTimeProducts.js"></script>